<% include ./partials/header.ejs %>
  <div id="mainBody" class="container-fluid">

    <% include ./partials/askErrorFlash.ejs %>

    <div class="row">
      <div class="col-2" id="leftCol" >
        <div id="askQuestion">
          <button type="button" class="btn btn-primary" id="askBtn" onclick="window.location.href='/ask'">
            ASK A QUESTION
          </button>
        </div>
        <div id="menu">
          
        </div>
      </div>
      <div class="col-7" id="midCol">
        <div id="header">
          <p style="display: inline-block; font-family:Open Sans; font-size: 25px; 
                    font-weight: 400; margin-left: 30px; padding-top: 15px; height: 50%; 
                    width: 200px;">
            Top Questions
          </p>
          <!--<div class="dropdown" style="display:inline-block; float:right; margin-right: 20px; margin-top: 15px;">
            <p style="display: inline-block; font-family:Open Sans; font-size: 14px; font-weight: 400; color: rgb(139, 151, 177);">Questions per page:</p>
            <div class="btn-group ">
              <button id="qppdrop" type="button" class="btn btn-primary dropdown-toggle btn-sm" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                10
              </button>
              <div id="qppmenu" class="dropdown-menu">
                <a class="dropdown-item" href="">10</a>
                <a class="dropdown-item" href="">15</a>
                <a class="dropdown-item" href="">20</a>
              </div>
            </div>
          </div> -->
        </div>
        <div id="tab">
          <div class="sort-questions">
            <ul style="padding-left: 30px; height: 100%;">
              <li class="sortList latestli">
                <a class="latest active" href="/">Latest</a>
              </li>
              <li class="sortList featureli">                    	
                <a class="feature" href="/?sort=feature">Featured</a>
              </li>
              <li class="sortList unanswerli">
                <a class="unanswer" href="/?sort=unanswer">Unanswered</a>
              </li>
            </ul>
          </div>
        </div>

        <div id="questinos">
          <% questions.forEach((question, index)=>{ %>
            <% if (index % 2 == 0) { %>
              <div class="questionWrapper" style="background-color: rgb(251, 252, 255)">
            <% } else { %>
              <div class="questionWrapper">
            <% } %>
              <div style="display: inline-block; width: 70%;">
                <div style="cursor: pointer;">
                  <div style="display: inline-block;">
                    <img class="profilePic" src="<%= question.get('user').get('profilePhoto80').url() %>">
                  </div>
                  <div style="display: inline-block;">
                    <p style="font-family:Open Sans; font-size: 12px; font-weight: 400; color: rgb(72, 85, 109);"><%= question.get('user').get('nickName') %></p>
                  </div>
                </div>
                <div style="width: 100%; padding-bottom: 10px;">
                  <a href="/questions/<%= question.id; %>" style="text-decoration: none;">
                    <p class="questionTitle"> <%= question.get('title'); %> </p>
                  </a>
                  <% if(question.get('tagArray').length) { %>
                    <div class="tagArea">
                      <% question.get('tagArray').forEach((tag, index) => { %>
                        <div class="tag"><p class="tagText"><%= tag %></p></div>
                      <% }); %>
                    </div>
                  <% } %>
                </div>
              </div>

              <a href="/questions/<%= question.id; %>">
                <div class="questionStatsArea">
                  <div style="width: 30%; display: inline-block;">
                    <div class="questionStatsCircle">
                      <p class="questionStats"><%= question.get('views'); %></p>
                    </div>
                    <div>
                      <p class="questionStatsText">views</p>
                    </div>
                  </div>
                  <div style="width: 30%; display: inline-block;">
                    <div <% if (question.get('correctAnswer') == null) { %>class="questionStatsCircle" <% } else { %> class="questionStatsCircleGreen" <% } %>>
                      <p <% if (question.get('correctAnswer') == null) { %>class="questionStats" <% } else { %> class="questionStatsGreen" <% } %>><%= question.get('numberOfComments'); %></p>
                    </div>
                    <div>
                      <p class="questionStatsText">answers</p>
                    </div>
                  </div>
                  <div style="width: 30%; display: inline-block;">
                    <div class="questionStatsCircle">
                      <p class="questionStats"><%= question.get('upVotes'); %></p>
                    </div>
                    <div>
                      <p class="questionStatsText">votes</p>
                    </div>
                  </div>
                </div>
              </a>
              
            </div>
          <% }); %>
        </div>
      </div>
      <div class="col" id="rightCol">
        3 of 3
      </div>
    </div>
  </div>
<% include ./partials/footer.ejs %>